<div id="footer">
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; MC-Mutual 2023</div>
                <div>
                    <a href="#">Aviso Legal</a>
                    &middot;
                    <a href="#">Términos &amp; Condiciones</a>
                </div>
            </div>
        </div>
    </footer>
</div>