{% if current_user.is_authenticated %}
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <div class="sb-sidenav-menu-heading">Informes</div>
                <a class="nav-link {% if request.endpoint == 'informe_resumen_dominio' %}active{% endif %}"
                    href="/informes/resumen/www.mc-mutual.com">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-chart-simple"></i></i></div>
                    Res&uacute;menes
                </a>


                {% if is_admin() or current_user.role == 'superadmin' %}

                <div class="sb-sidenav-menu-heading">Herramientas</div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseIdiomas"
                aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-book-atlas"></i></div>
                Ortograf&iacute;a
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseIdiomas" aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link {% if request.endpoint == 'ortografia' %} active {% endif %}"
                        href="/ortografia/www.mc-mutual.com">An&aacute;lisis</a>

                    <a class="nav-link {% if request.endpoint == 'diccionario' %} active {% endif %}"
                        href="{{ url_for('diccionario') }}">Diccionarios</a>
            
                </nav>
            </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseRanks"
                    aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    SEO
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>

                <div class="collapse" id="collapseRanks" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link {% if request.endpoint == 'seo_resumen_dominio' %} active {% endif %}"
                        href="/seo/resumen/www.mc-mutual.com">Resumen</a>

                        <a class="nav-link {% if request.endpoint == 'salud_seo' %} active {% endif %}"
                        href="/salud-seo/www.mc-mutual.com">Salud SEO</a>

                        <a class="nav-link {% if request.endpoint == 'obtener_posiciones_dominio' %} active {% endif %}"
                        href="/ranking/www.mc-mutual.com">Ranking</a>

                        <a class="nav-link {% if request.endpoint == 'keywords' %} active {% endif %}"
                        href="/keywords/www.mc-mutual.com">Keywords</a>

                        <a class="nav-link {% if request.endpoint == 'meta_tags' %} active {% endif %}"
                        href="/meta-tags/www.mc-mutual.com">Meta Tags</a>

                        <a class="nav-link {% if request.endpoint == 'encabezados' %} active {% endif %}"
                        href="/encabezados/www.mc-mutual.com">Encabezados</a>
<!--
                        <a class="nav-link {% if request.endpoint == 'indexabilidad' %} active {% endif %}"
                        href="/indexabilidad/www.mc-mutual.com">Indexabilidad</a>
-->                        
                       <a class="nav-link {% if request.endpoint == 'velocidad_url' %} active {% endif %}"
                            href="/velocidad/www.mc-mutual.com">Velocidad</a>

                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSEO"
                    aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-thumbs-up"></i></div>
                    Usabilidad
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseSEO" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link {% if request.endpoint == 'usabilidad_resumen_dominio' %} active {% endif %}"
                            href=" /usabilidad/resumen/www.mc-mutual.com">Resumen</a>

                        <a class="nav-link {% if request.endpoint == 'enlaces_rotos_dominio' %} active {% endif %}"
                            href="/enlaces-rotos/www.mc-mutual.com">Enlaces rotos</a>

                            <a class="nav-link {% if request.endpoint == 'enlaces_dominio' %} active {% endif %}"
                            href="/enlaces/www.mc-mutual.com">Enlaces</a>

                            <a class="nav-link {% if request.endpoint == 'titulos' %} active {% endif %}"
                            href="/titulos/www.mc-mutual.com">Titulos</a>
                    
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAcce"
                    aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-wheelchair fa-fw"></i></div>
                    Accesibilidad
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseAcce" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                       
                        <a class="nav-link {% if request.endpoint == 'accesibilidad_resumen_dominio' %} active {% endif %}"
                            href=" /accesibilidad/resumen/www.mc-mutual.com">Resumen</a>

                        <a class="nav-link {% if request.endpoint == 'analisis_aaa' %} active {% endif %}"
                            href="/analisis-aaa/www.mc-mutual.com">WCAG-AA</a>

                            <a class="nav-link {% if request.endpoint == 'responsive' %} active {% endif %}"
                            href="/responsive/www.mc-mutual.com">Responsive</a>

                            <a class="nav-link {% if request.endpoint == 'legibilidad' %} active {% endif %}"
                            href="/legibilidad/www.mc-mutual.com">Legibilidad</a>

                            <a class="nav-link {% if request.endpoint == 'imagenes' %} active {% endif %}"
                            href="/imagenes/www.mc-mutual.com">Im&aacute;genes</a>

                         
                    

                    </nav>
                </div>


              
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseMonitores"
                aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-stethoscope"></i></div>
                Diagnosticos
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseMonitores" aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">

                    <a class="nav-link {% if request.endpoint == 'seguridad' %} active {% endif %}"
                        href="/seguridad/www.mc-mutual.com"> Seguridad</a>

                </nav>
            </div>


                

                {% endif %}

                {% if current_user.role == 'superadmin' %}
                <div class="sb-sidenav-menu-heading">Sistema</div>

               

         
 <a class="nav-link btn-link btn me-3 {% if request.endpoint == 'tools_config' %} active {% endif %}" href="/tools/config">
    <div class="sb-nav-link-icon"><i class="fa-solid fa-gear"></i></div>
    Configuracion
</a>

                <a class="nav-link btn-link btn me-3 {% if request.endpoint == 'usuarios' %} active {% endif %}" href="{{ url_for('usuarios') }}">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                    Usuarios
                </a>

               
   

                {% endif %}
            </div>
        </div>
        <!--
        <div class="sb-sidenav-footer">
            <div class="small">
                <ul class="navbar-nav d-none d-md-inline-block ms-auto me-0 me-md-3 my-2 my-md-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i><strong>{{
                                current_user.username }}</strong>({{ current_user.role }})</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item"
                                    href="{{ url_for('user_profile', user_id=current_user.id) }}">Perfil</a></li>
                            <li><a class="dropdown-item" href="#!">Ajustes</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Salir</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        -->
    </nav>
</div>
{% endif %}