{% if current_user.is_authenticated %}
<!-- Info Bar -->
<div id="header">
    <nav class="sb-topnav navbar navbar-expand navbar-light bg-light">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/">
            <img src="{{ url_for('static', filename='images/logo_MC.png') }}" alt="MC Mutua" />
        </a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar-->
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center w-100">

            </div>
        </div>
        <div class="d-flex">
            <!--
             <div class="pdf-btn me-3">
                 <a href="{{ url_for('generate_pdf') }}" class="btn btn-info" target="_blank">PDF</a>
             </div> 

         -->
        </div>


        <h2 class="mr-4" style="padding-right:12px;"><a class="nav-item" href="{{ url_for('logout') }}"><strong><i
                        class="fa-solid fa-power-off"
                        style="--fa-primary-color: green; --fa-secondary-color: gold;"></i></strong></a></h2>
    </nav>
</div>
{% endif %}