<!-- app/templates/user/change_password.html -->

{% extends 'base.html' %}

{% block content %}
    <h2>Cambiar Contraseña</h2>
    <form method="POST" action="{{ url_for('change_password') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="old_password">Contraseña Actual:</label>
            {{ form.old_password(class="form-control", placeholder="Contraseña actual") }}
            {% for error in form.old_password.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="new_password">Nueva Contraseña:</label>
            {{ form.new_password(class="form-control", placeholder="Nueva contraseña") }}
            {% for error in form.new_password.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirmar Nueva Contraseña:</label>
            {{ form.confirm_password(class="form-control", placeholder="Confirmar nueva contraseña") }}
            {% for error in form.confirm_password.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
    </form>
    <a href="{{ url_for('user_profile', user_id=current_user.id) }}" class="btn btn-secondary mt-3">Volver al Perfil</a>
{% endblock %}

