<!-- app/templates/tools/usa/enlaces.html -->
{% extends 'tool_base.html' %}

{% block title %}Enlaces{% endblock %}

{% macro get_intervalo_color_class(intervalo) %}
{% if intervalo == 'Enlaces inseguros' %}
intervalo-color-rojo
{% endif %}
{% endmacro %}

{% block head %}

<h1 class="mt-4">Enlaces</h1>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"><h5>Resultados para {{dominio_url}}</h5></li>
</ol>

{% endblock %}

{% if dominio_url %}
{% set dominios_ordenados_dos = [dominio_url] %}
{% else %}
{% set dominios_ordenados_dos = dominios_ordenados %}
{%endif%}

{% block content %}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Enlaces desde el último scan
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="display">
            <thead>
                <!--
                    12	enlaces_totales	int(11)			Sí	NULL			Cambiar Cambiar	Eliminar Eliminar	
Más Más
	13	<th>enlaces_inseguros</th>	int(11)			Sí	NULL			Cambiar Cambiar	Eliminar Eliminar	
Más Más
	14	<th>enlaces_internos</th>	int(11)			Sí	NULL			Cambiar Cambiar	Eliminar Eliminar	
Más Más
	15	enlaces_internos_unicos	int(11)			Sí	NULL			Cambiar Cambiar	Eliminar Eliminar	
Más Más
	16	<th>enlaces_js_unicos</th>	int(11)			Sí	NULL			Cambiar Cambiar	Eliminar Eliminar	
Más Más
	17	<th>enlaces_salientes</th>	int(11)			Sí	NULL			Cambiar Cambiar	Eliminar Eliminar	
Más Más
	18	enlaces_salientes_unicos	int(11)			Sí	NULL			Cambiar Cambiar	Eliminar Eliminar	
Más Más
	19	enlaces_salientes_js_unicos	int(11)			Sí	NULL			Cambiar Cambiar	Eliminar Eliminar	
Más Más
	20	enlaces_salientes_externos	int(11)			Sí	NULL			Cambiar Cambiar	Eliminar Eliminar	
Más Más
	21	enlaces_salientes_externos_unicos	int(11)			Sí	NULL			Cambiar Cambiar	Eliminar Eliminar	
Más Más
	22	enlaces_salientes_js_externos_unicos
                -->
                <tr>
                    <th><i title="fecha_escaneo" class="fa-regular fa-calendar"></i></th>
                    <th><i title="url" class="fa-solid fa-link"></i>url</th>
                    <th><i title="enlaces_inseguros" class="fa-solid fa-lock-open"></i></th>	
                    <th><i title="enlaces_internos" class="fa-solid fa-anchor"></i></th>
                    <th><i title="enlaces_internos_unicos" class="fa-solid fa-anchor-circle-check"></i></th>
                    <th><i title="enlaces_js_unicos" class="fa-brands fa-js"></i></th>
                    <th><i title="enlaces_salientes" class="fa-solid fa-file-export"></i></th>
                    <th><i title="salientes_externos" class="fa-solid fa-arrow-up-right-from-square"></i></th>
                    <th><i title="salientes_externos_unicos" class="fa-solid fa-arrows-to-circle"></i></th>
                    <th><i title="salientes_js_externos_unicos" class="fa-brands fa-node-js"></i></th>
                    <th><i title="tiempo ms" class="fa-regular fa-clock"></i></th>

                </tr>

            </thead>
            <tfoot>
                <tr>
                    <th><i title="fecha_escaneo" class="fa-regular fa-calendar"></i></th>
                    <th><i title="url" class="fa-solid fa-link"></i>url</th>
                    <th><i title="enlaces_inseguros" class="fa-solid fa-lock-open"></i></th>	
                    <th><i title="enlaces_internos" class="fa-solid fa-anchor"></i></th>
                    <th><i title="enlaces_internos_unicos" class="fa-solid fa-anchor-circle-check"></i></th>
                    <th><i title="enlaces_js_unicos" class="fa-brands fa-js"></i></th>
                    <th><i title="enlaces_salientes" class="fa-solid fa-file-export"></i></th>
                    <th><i title="salientes_externos" class="fa-solid fa-arrow-up-right-from-square"></i></th>
                    <th><i title="salientes_externos_unicos" class="fa-solid fa-arrows-to-circle"></i></th>
                    <th><i title="salientes_js_externos_unicos" class="fa-brands fa-node-js"></i></th>
                    <th><i title="tiempo ms" class="fa-regular fa-clock"></i></th>


                </tr>
            </tfoot>
            <tbody>
                {% for result in resultados %}
                <tr>
                    <td><small>{{ result.fecha_escaneo }}</small></td>
                    <td><a style="color:red;" href="{{ result.pagina }}" target="_blank">{{ result.pagina }}</a></td>
                    <td>{{ result.enlaces_inseguros }}</td>	
                    <td>{{ result.enlaces_internos }}</td>
                    <td>{{ result.enlaces_internos_unicos }}</td>
                    <td>{{ result.enlaces_js_unicos }}</td>
                    <td>{{ result.enlaces_salientes }}</td>
                    <td>{{ result.enlaces_salientes_externos }}</td>
                    <td>{{ result.enlaces_salientes_externos_unicos }}</td>
                    <td>{{ result.enlaces_salientes_js_externos_unicos }}</td>
                    <td
                        class="tiempo-celda {% if result.tiempo_medio is not none and result.tiempo_respuesta <= 5 %} tiempo-verde {% elif result.tiempo_respuesta <= 15 %} tiempo-amarillo {% else %} tiempo-rojo {% endif %}">
                        {{ result.tiempo_respuesta }}
                    </td>

                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Inicializamos DataTables
        const dataTable = $('#datatablesSimple').DataTable({
            "language": {
                "sEmptyTable": "No hay datos disponibles en la tabla",
                "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                "sInfoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "sInfoFiltered": "(filtrado de un total de _MAX_ entradas)",
                "sInfoPostFix": "",
                "sInfoThousands": ",",
                "sLengthMenu": "&nbsp;Mostrar _MENU_ entradas",
                "sLoadingRecords": "Cargando...",
                "sProcessing": "Procesando...",
                "sSearch": "Buscar:",
                "sZeroRecords": "No se encontraron coincidencias",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna en orden ascendente",
                    "sSortDescending": ": Activar para ordenar la columna en orden descendente"
                },
                "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas", // Agregamos el mensaje de información arriba
            },
            responsive: true,
            dom: 'Blfrtip', // Agregamos 'l' para incluir el dropdown de longitud de página
            buttons: ['copy', 'csv', 'excel', 'pdf'],
            lengthMenu: [10, 25, 50, 100, 200], // Definimos los valores por defecto del dropdown
            pageLength: 25, // Establecemos el valor por defecto
            columns: [
                { type: 'date-euro' }, // Utiliza 'date-euro' para fechas en formato 'YYYY-MM-DD'
                //{ type: 'date', format: 'YYYY-MM-DD' },
                null, null, null,  null, null, null, null, null, null, null
            ]
        });




        // Agregamos un elemento HTML personalizado arriba de la tabla
        const customInfo = $('<div id="customInfo"></div>');
        $('#datatablesSimple_wrapper').prepend(customInfo);

        function updateCustomInfo() {
            const info = dataTable.page.info();
            customInfo.html('<div id="topInfo">Mostrando 1 a ' + info.end + ' de ' + info.recordsDisplay + ' entradas</div>'); //' + info.start + '
        }

        // Configuramos eventos para actualizar el elemento personalizado al cambiar de página
        dataTable.on('draw.dt', updateCustomInfo);
        dataTable.on('length.dt', updateCustomInfo);


        // Configuramos el evento de cambio para el dropdown y campos de fecha
        $('#startDate, #endDate').change(updateFilter);

        // Configuramos el evento de click para el botón de reset
        $('#resetFilters').click(function () {
            // Limpiamos los valores de los controles y actualizamos el filtro
            //$('#targetUrlDropdown').val('');
            $('#startDate').val('');
            $('#endDate').val('');
            updateFilter();
        });



        function updateFilter() {
            //var selectedTarget = {{ dominio_url }};
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();

            // Aplicamos el filtro de URL
            // dataTable.column(1).search(selectedTarget).draw();



            // Filtramos por rango de fechas
            if (startDate && endDate) {
                dataTable.draw();
                var columnIndex = 0; // Índice de la columna de fecha
                var startMoment = moment(startDate, 'YYYY-MM-DD');
                var endMoment = moment(endDate, 'YYYY-MM-DD');

                // Filtramos las filas según el rango de fechas
                $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
                    var dateValue = moment(data[columnIndex], 'YYYY-MM-DD');
                    return dateValue.isBetween(startMoment, endMoment, null, '[]');
                });

                // Redibujamos la tabla
                dataTable.draw();

                // Eliminamos la función de filtrado para que no interfiera con futuros cambios
                $.fn.dataTable.ext.search.pop();
            } else {
                // No hay rango de fechas, mostramos todas las filas
                dataTable.draw();
            }
        }
    });
</script>

<script>
   

</script>

{% endblock %}