<!-- app/templates/seo/responsive.html -->
{% extends 'base.html' %}

{% block content %}

               <h1 class="mt-4">Responsive</h1>
               <!--
               <div class="card control-card mb-4">
                  <div class="card-body">
                      <div class="mb-3 status-section">
                        <div>
                           <i class="fas fa-info-circle status-icon text-primary"></i>
                           <span class="status-text">Estado: <strong>Activo</strong></span>
                        </div>
                        <div>
                           <i class="fas fa-history status-icon text-success"></i>
                           <span class="status-text">Ultima ejecución: <strong>{{ first_end_time }}</strong></span>
                        </div>
                     </div>
                     <div class="control-buttons">
                        <button class="btn btn-primary" type="button"><i class="fas fa-play"></i> Start</button>
                        <button class="btn btn-warning" type="button"><i class="fas fa-pause"></i> Pause</button>
                        <button class="btn btn-danger" type="button"><i class="fas fa-stop"></i> Stop</button>
                     </div>
                  </div>
               </div>
               -->
               <ol class="breadcrumb mb-4">
                  <li class="breadcrumb-item active">Responsive</li>
               </ol>
               <!-- Overall Satisfaction Score Doughnut Chart 
               <div class="row">
                  
                  <div class="col-md-6 my-4">
                     <h2 class="text-center">Score</h2>
                     <div class="text-center">
                        <h3 class="display-4 text-success font-weight-bolder">96.16%</h3>
                        <p class="lead">enlaces buenos</p>
                     </div>
                  </div>

                  
                  <div class="col-md-6 my-4">
                     <h2 class="text-center">Tiempo de Respuesta</h2>
                     <div class="text-center">
                        <h3 class="display-4 text-danger font-weight-bolder">9.03m</h3>
                        <p class="lead">media / página</p>
                     </div>
                  </div>
               </div>
               -->

               <div class="row">
                     <!-- Itera sobre los sumarios -->
                   

                     {% for dominio in dominios_ordenados %}
                        <div class="col-md-4">
                           {% for stat in resumen if stat.dominio == dominio %}
                        
                              <div class="card {% if (stat.responsive_valid_count*100/stat.total_paginas) > 70 %} bg-success {% elif (stat.responsive_valid_count*100/stat.total_paginas) > 60 %} bg-warning {% else %} bg-danger {% endif %} text-white mb-4">
                                 <div class="card-body">
                                       <h4 class="card-title font-weight-bolder text-white">{{ stat.dominio }}</h4>
                                       <h5 class="card-title font-weight-bolder text-white"> {{ "%.2f"|format(stat.responsive_valid_count * 100 / stat.total_paginas) }} %</h5>
                                       <p class="card-text">
                                          <strong>Fecha:</strong> {{ stat.fecha }}<br>
                                          <strong>Páginas analizadas:</strong> {{ stat.total_paginas }}<br />
                                          <strong>Páginas responsive</strong> {{ stat.responsive_valid_count}}<br />
                                          
                                          <strong>Duración:</strong> {{ stat.duracion_total }}<br>
                                       </p>
                                 </div>
                                 <div class="card-footer d-flex align-items-center justify-content-between">
                                       <a class="small text-white stretched-link" data-bs-toggle="collapse"
                                          href="#collapse-{{stat.id_escaneo}}" role="button" aria-expanded="false"
                                          aria-controls="collapse-{{stat.id_escaneo}}">Ver Sugerencias</a>
                                       <div class="text-white"><h3 class="text-white"><i class="fas fa-lightbulb" data-bs-toggle="collapse"
                                          href="#collapse-{{stat.id_escaneo}}" role="button" aria-expanded="false"
                                          aria-controls="collapse-{{stat.id_escaneo}}"></i></h3></div>
                                 </div>
                                 <div class="collapse" id="collapse-{{stat.id_escaneo}}">
                                       <div class="card card-body">
                                          <!-- Agrega aquí la tabla para los resultados de cargas por segundos -->
                                          <table class="table">
                                             <thead>
                                                   <tr>
                                                      <th>Error</th>
                                                      <th>Paginas</th>
                                                   </tr>
                                             </thead>
                                             <tbody>
                                                   {% for dominio, intervalo, count in detalles[stat.id_escaneo] %}
                                                      <tr>
                                                         <td>{{ intervalo }}</td>
                                                         <td>{{ count }}</td>
                                                      </tr>
                                                   {% endfor %}
                                             </tbody>
                                          </table>
                                          <!-- Fin de la tabla de cargas por segundos -->
                                       </div>
                                 </div>
                              </div>
                           {% endfor %}
                        </div>

                     {% endfor %}
                </div>

               <div class="container">
                  <div class="row mt-5">
                     <!-- Primera columna con los checkboxes -->
                     <div class="col-md-4 mb-4">
                        <div class="card">
                           <div class="card-body bg-white text-dark">
                              <h5 class="card-title">URL:</h5>
                              <!-- Agregamos el dropdown en lugar de checkboxes -->
                              <select id="targetUrlDropdown" class="form-select">
                                    <option value="">Ver todas</option>
                                    {% for dominio in dominios_ordenados %}
                                       <option value="{{ dominio }}">{{ dominio }}</option>
                                    {% endfor %}
                              </select>
                           </div>
                        </div>
                  </div>

                     <!-- Segunda columna con los campos de fecha -->
                     <div class="col-md-4 mb-4">
                        <div class="card">
                           <div class="card-body bg-white text-dark">
                              <h5 class="card-title">Desde:</h5>
                              <input type="date" id="startDate" class="form-control" />
                           </div>
                        </div>
                     </div>

                     <div class="col-md-4 mb-4">
                        <div class="card">
                           <div class="card-body bg-white text-dark">
                              <h5 class="card-title">Hasta:</h5>
                              <input type="date" id="endDate" class="form-control" />
                           </div>
                        </div>
                     </div>
                     <div class="row mb-4">
                        <div class="col-md-12 text-end">
                           <button type="button" class="btn btn-secondary" id="resetFilters">Resetear Filtros</button>
                        </div>
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="card mb-4">
                    <div class="card-header">
                       <i class="fas fa-table me-1"></i>
                       Velocidad del sitio
                    </div>
                    <div class="card-body">
                        
                         <table id="datatablesSimple" class="display">
                            <thead>
                               <tr>
                                  <th>fecha</th>
                                  <th>web</th>
                                  <th>dirección</th>
                                  <th>viewport</th>
                                  <th>responsive</th>
                                  <th>aaaa</th>
                                  <th>html</th>
                                  <th><i class="fas fa-lightbulb"></i></th>
                                  <th>lengua</th>
                               </tr>
                            </thead>
                            <tfoot>
                               <tr>
                                 <th>fecha</th>
                                 <th>web</th>
                                 <th>dirección</th>
                                 <th>viewport</th>
                                 <th>responsive</th>
                                 <th>aaaa</th>
                                 <th>html</th>
                                 <th><i class="fas fa-lightbulb"></i></th>
                                 <th>lengua</th>
                               </tr>
                            </tfoot>
                            <tbody>
                               {% for result in resultados %}
                                    <tr>
                                        <td>{{ result.fecha_escaneo }}</td>
                                        <td>{{ result.dominio }}</td>
                                        <td><a href="{{ result.pagina }}" alt="{{ result.pagina }}" target="_blank">{{ result.pagina }}</a></td>
                                        <td>{% if result.e_viewport != 1 or result.e_viewport is none %}<i class="fa-solid fa-lg fa-circle-exclamation"></i>{% else %}<i class="fa-solid fa-lg  fa-check"></i>{% endif %}</td>
                                        <td>{% if result.response_valid != 1 or result.response_valid is none %}<i class="fa-solid fa-lg  fa-circle-exclamation"></i>{% else %}<i class="fa-solid  fa-lg fa-check"></i>{% endif %}</td>
                                        <td>{% if result.valid_aaa != 1 or result.valid_aaa is none %}<i class="fa-solid fa-lg  fa-circle-exclamation"></i>{% else %}<i class="fa-solid fa-lg  fa-check"></i>{% endif %}</td>
                                        <td>{% if result.html_valid != 1 or result.html_valid is none %}<i class="fa-solid fa-lg  fa-circle-exclamation"></i>{% else %}<i class="fa-solid fa-lg  fa-check"></i>{% endif %}</td>
                                        <td>
                                            {% if result.responsive_valid is not none and result.responsive_valid !=  1 %}
                                                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#infoModal{{ result.id }}">
                                                <i class="fas fa-plus"></i>
                                                </button>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <small>{{ result.lang }}</small>
                                        </td>
                                    </tr>
                                    {% if result.responsive_valid is not none and result.responsive_valid !=  1 %}
                            
                                       <div class="modal fade" id="infoModal{{ result.id }}" tabindex="-1"
                                          aria-labelledby="infoModalLabel{{ result.id }}" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered">
                                             <div class="modal-content bg-info text-dark">
                                                <div class="modal-header">
                                                   <h5 class="modal-title" id="infoModalLabel{{ result.id }}">Sugerencias link
                                                      roto#{{ result.id }}</h5>

                                                   <button type="button" class="btn-close btn-close-white"
                                                      data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                   <pre>{{ result.meta_tags | tojson(indent=2) }}</pre>
                                                </div>
                                             </div>
                                          </div>
                                       </div> 
                                       
                                    {% endif %}
                               {% endfor %}
                            </tbody>
                         </table>
                         
                    </div>
                 </div>



                 <script>
                    document.addEventListener('DOMContentLoaded', function () {
                       // Inicializamos DataTables
                       const dataTable = $('#datatablesSimple').DataTable({
                          "language": {
                             "sEmptyTable": "No hay datos disponibles en la tabla",
                             "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                             "sInfoEmpty": "Mostrando 0 a 0 de 0 entradas",
                             "sInfoFiltered": "(filtrado de un total de _MAX_ entradas)",
                             "sInfoPostFix": "",
                             "sInfoThousands": ",",
                             "sLengthMenu": "Mostrar _MENU_ entradas",
                             "sLoadingRecords": "Cargando...",
                             "sProcessing": "Procesando...",
                             "sSearch": "Buscar:",
                             "sZeroRecords": "No se encontraron coincidencias",
                             "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                             },
                             "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna en orden ascendente",
                                "sSortDescending": ": Activar para ordenar la columna en orden descendente"
                             },
                             "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas", // Agregamos el mensaje de información arriba
                          }, responsive: true,
                          columns: [
                          { type: 'date-euro' }, // Utiliza 'date-euro' para fechas en formato 'YYYY-MM-DD'
                             null, null, null, null, null, null, null, null
                          ],
                          colReorder: {
                                realtime: false // Opcional: ajusta a true si quieres redimensionamiento en tiempo real
                            }
                       });

                       // Configuramos el evento de cambio para el dropdown y campos de fecha
                       $('#targetUrlDropdown, #startDate, #endDate').change(updateFilter);

                       // Configuramos el evento de click para el botón de reset
                       $('#resetFilters').click(function () {
                          // Limpiamos los valores de los controles y actualizamos el filtro
                          $('#targetUrlDropdown').val('');
                          $('#startDate').val('');
                          $('#endDate').val('');
                          updateFilter();
                       });

             

                       function updateFilter() {
                          var selectedTarget = $('#targetUrlDropdown').val();
                          var startDate = $('#startDate').val();
                          var endDate = $('#endDate').val();

                          // Aplicamos el filtro de URL
                          dataTable.column(1).search(selectedTarget).draw();



                          // Filtramos por rango de fechas
                          if (startDate && endDate) {
                             dataTable.draw();
                             var columnIndex = 0; // Índice de la columna de fecha
                             var startMoment = moment(startDate, 'YYYY-MM-DD');
                             var endMoment = moment(endDate, 'YYYY-MM-DD');

                             // Filtramos las filas según el rango de fechas
                             $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
                                var dateValue = moment(data[columnIndex], 'YYYY-MM-DD');
                                return dateValue.isBetween(startMoment, endMoment, null, '[]');
                             });

                             // Redibujamos la tabla
                             dataTable.draw();

                             // Eliminamos la función de filtrado para que no interfiera con futuros cambios
                             $.fn.dataTable.ext.search.pop();
                          } else {
                             // No hay rango de fechas, mostramos todas las filas
                             dataTable.draw();
                          }
                       }
                    });


                  // Agregamos un elemento HTML personalizado arriba de la tabla
                  const customInfo = $('<div id="customInfo"></div>');
                  $('#datatablesSimple_wrapper').prepend(customInfo);

                  function updateCustomInfo() {
                        const info = dataTable.page.info();
                        customInfo.html('<div id="topInfo">Mostrando 1 a ' + info.end + ' de ' + info.recordsDisplay + ' entradas</div>'); //' + info.start + '
                  }

                  // Configuramos eventos para actualizar el elemento personalizado al cambiar de página
                  dataTable.on('draw.dt', updateCustomInfo);
                  dataTable.on('length.dt', updateCustomInfo);
            </script>


{% endblock %}