<!-- app/templates/config.html -->
{% extends 'base.html' %}

{% block content %}
<style>
    /* Estilos para textarea en modo de solo lectura */
    textarea[readonly] {
        background-color: #f8f9fa;
        /* Color de fondo */
        opacity: 0.6;
        /* Opacidad reducida */
        cursor: not-allowed;
        /* Cursor no permitido */
    }
</style>

<div class="container mt-5">
    <h1 class="mb-4">Configuración</h1>


    <form method="POST" action="/tools/config/update">
        <div class="row">
            <div class="card mt-5 mb-3 col-md-4" style="margin-right: 20px;">
                <div class="card-body">
                    <div class="mb-4 ">
                        <h5 class="card-title">Dominios</h5>

                        <textarea class="form-control" name="dominios_analizar" id="dominios_analizar" rows="5">{{ configuracion.dominios_analizar }}
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="card mt-5 mb-3 col-md-3" style="margin-right: 20px;">
                <div class="card-body">
                    <div class="mb-4">
                        <h5 class="card-title"><b>Configuración de Frecuencia</b></h5>
                        <div class="mb-3">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="frecuencia_dias" value="1"  {{ 'checked' if configuracion.frecuencia_dias == 1 else '' }}> 1 Día
                            </label>
                        </div>
                        <div class="mb-3">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="frecuencia_dias" value="3"  {{ 'checked' if configuracion.frecuencia_dias == 3 else '' }}> 3 Días
                            </label>
                        </div>
                        <div class="mb-3">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="frecuencia_dias" value="5"  {{ 'checked' if configuracion.frecuencia_dias == 5 else '' }}> 5
                                Días
                            </label>
                        </div>
                        <div class="mb-3">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="frecuencia_dias" value="9"  {{ 'checked' if configuracion.frecuencia_dias == 9 else '' }}> 9 Días
                            </label>
                        </div>

                    </div>
                </div>

            </div>
            <div class="card mt-5 mb-3 col-md-3">
                <div class="card-body">
                    <div class="mb-4">
                        <h5 class="card-title"><b>W3C Validator</b></h5>
                        <div class="mb-3">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="w3c_validator" value="WCAG2AA" {{ 'checked' if configuracion.w3c_validator == 'WCAG2AA' else '' }}> WCAG-AA
                            </label>
                        </div>
                        <div class="mb-3">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="w3c_validator" value="WCAG2AAA" {{ 'checked' if configuracion.w3c_validator == 'WCAG2AAA' else '' }}> WCAG-AAA
                            </label>
                        </div>


                    </div>
                </div>
            </div>
            <div class="row">
                <h5 class="card-title">Exclusiones</h5>
                <div class="card mt-5 mb-3 col-md-6" style="margin-right: 20px;">
                    <div class="card-body">

                        <div class="mb-3">
                            <label for="urlExcluidas" class="form-label"><b>URLs Excluidas</b></label>
                            <textarea class="form-control" name="url_Excluidas" id="url_Excluidas" rows="18">{{ configuracion.url_Excluidas }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="card mt-5 mb-3 col-md-4">
                    <div class="card-body">

                        <div class="mb-3">
                            <label for="extensionesExcluidas" class="form-label"><b>Extensiones Excluidas</b></label>
                            <textarea class="form-control" name="extensiones_Excluidas"  id="extensiones_Excluidas" rows="12">{{ configuracion.extensiones_Excluidas }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="card mt-5 mb-3 col-md-10">
                    <div class="card-body">

                        <div class="mb-3">
                            <label for="keywords" class="form-label"><b>Palabras Clave</b></label>
                            <textarea class="form-control" name="keywords_analizar" id="keywords_analizar" rows="20">{{ configuracion.keywords_analizar}}
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

</div>

<div class="container mt-5">
    <h3 class="mb-4">Rastreador</h3>
    <div class="row">

        <div class="card control-card mb-4">
            <div class="card-body">
                <div class="mb-3 status-section">
                    <div>
                        <i class="fas fa-info-circle status-icon text-primary"></i>
                        <span class="status-text">Estado: <strong>Activo</strong></span>
                    </div>
                    <div>
                        <i class="fas fa-history status-icon text-success"></i>
                        <span class="status-text">Ultima ejecución: <strong>{{ first_end_time }}</strong></span>
                    </div>
                </div>
                <div class="control-buttons">
                    <button class="btn btn-primary" type="button"><i class="fas fa-play"></i> Start</button>
                    <button class="btn btn-warning" type="button"><i class="fas fa-pause"></i> Pause</button>
                    <button class="btn btn-danger" type="button"><i class="fas fa-stop"></i> Stop</button>
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}
