<!-- resultados_popup.html -->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados del Análisis</title>
    <!-- Agrega Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <div class="col-md-8 offset-md-2">
            <div class="card-header">
                <h5 class="card-title">{{ url }}</h5>
            </div>
            {% for resultado in resultados|fromjson %}
            <div class="card">
                <div class="card-body">
                    {% if resultado is iterable and resultado is not string %}
                    {% for key, value in resultado.items() %}
                    {% if value is string %}{%set is_fail = 'Fail' in value %}{%endif%}
                    <div class="card-header  {% if is_fail %}bg-danger text-white{% endif %}">                            
                    <p class="card-text "><strong>{{ key }}</strong>: {{ value }}</p>
                     </div> 
                    {% endfor %}
                    {% else %}
                    <p class="card-text">{{ resultado }}</p>
                  
                    {% endif %}

                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Agrega Bootstrap JS y jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>